.wrapper {
  height: 100%;
  border: 1px solid;

  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__image {
      width: 50px;
    }

    &__name {
      width: 100%;
      text-align: center;
    }

    &.me {
      border: 2px solid black;
    }
  }
}
